body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #293c4b;
}

section {
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 170px 1fr;
  grid-template-areas: "sidebar header" "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  overflow: scroll;
}

.header {
  grid-area: header;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 10;
  box-shadow: -1px 5px 10px 0px rgba(0, 60, 100, 0.2);
}

.content {
  grid-area: content;
  padding: 30px 50px 30px 50px;
  max-width: 1400px;
}

.sidebar ul {
  margin-left: -30px;
}

.sidebar li {
  list-style: none;
  padding: 10px 10px 10px 20px;
  font-size: 1.2rem;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .ef-text-body {
  color: #dddddd;
}

.selected-component .ef-text-body {
  font-weight: bold;
  color: #ffffff;
}

.selected-component {
  border-left: 3px solid #ff329b;
  padding-left: 17px !important;
}
.bordered-box {
  padding: 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
}

.docs-box {
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;
  min-height: 100px;
  background: #efefef;
  border-radius: 2px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 1em;
  text-align: right;
}

.spacing-docs .docs-box {
  margin: 0;
  min-height: 50px;
  background: #fff;
  border: 1px dashed #ccc;
}

.spacing-box {
  background: #efefef;
  margin-bottom: 20px;
}

.stack-docs .tall {
  height: 330px;
}

.tall .ef-row {
  height: 200px;
}

.tall .docs-box {
  height: 100%;
}

.logobox {
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fffde6;
}

.inverse {
  background: #000000;
}

.inverse h5,
.inverse p {
  color: #fff;
}

code {
  margin-left: 10px;
  font-size: 14px;
}

[data-tag]:before,
[data-tag-s]:before,
[data-tag-m]:before,
[data-tag-l]:before,
[data-tag-xl]:before {
  font-size: 12px;
  position: absolute;
  font-weight: 400;
  background: #ff329b;
  padding: 4px 12px;
  color: white;
  top: 8px;
  left: -4px;
  white-space: nowrap;
  z-index: 1;
}

[data-tag]:before {
  content: attr(data-tag);
}

@media screen and (max-width: 39.9375em) {
  [data-tag-s]:before {
    display: block;
    content: attr(data-tag-s);
  }
}

@media screen and (max-width: 63.9375em) and (min-width: 40em) {
  [data-tag-m]:before {
    display: block;
    content: attr(data-tag-m);
  }
}

@media screen and (max-width: 78.9375em) and (min-width: 64em) {
  [data-tag-l]:before {
    display: block;
    content: attr(data-tag-l);
  }
}

@media screen and (min-width: 79em) {
  [data-tag-xl]:before {
    display: block;
    content: attr(data-tag-xl);
  }
}
