body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #293c4b;
}

section {
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 400px;
}

.sidebar li {
  list-style: none;
  padding: 10px;
  font-size: 1.2rem;
}

.sidebar a {
  text-decoration: none;
}
.selected-component .ef-text-body {
  color: #ffffff;
  font-weight: bold;
}

.content {
  width: 100%;
}

.selected-component {
  background-color: #ff329b;
}
.bordered-box {
  padding: 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
}

.docs-box {
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;
  min-height: 100px;
  background: #efefef;
  border-radius: 2px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 1em;
  text-align: right;
}

.stack-docs .tall {
  height: 330px;
}

.tall .ef-row {
  height: 200px;
}

.tall .docs-box {
  height: 100%;
}

code {
  margin-left: 10px;
  font-size: 14px;
}

[data-tag]:before,
[data-tag-s]:before,
[data-tag-m]:before,
[data-tag-l]:before,
[data-tag-xl]:before {
  font-size: 12px;
  position: absolute;
  font-weight: 400;
  background: #ff329b;
  padding: 4px 12px;
  color: white;
  top: 8px;
  left: -4px;
  white-space: nowrap;
  z-index: 1;
}

[data-tag]:before {
  content: attr(data-tag);
}

@media screen and (max-width: 39.9375em) {
  [data-tag-s]:before {
    display: block;
    content: attr(data-tag-s);
  }
}

@media screen and (max-width: 63.9375em) and (min-width: 40em) {
  [data-tag-m]:before {
    display: block;
    content: attr(data-tag-m);
  }
}

@media screen and (max-width: 78.9375em) and (min-width: 64em) {
  [data-tag-l]:before {
    display: block;
    content: attr(data-tag-l);
  }
}

@media screen and (min-width: 79em) {
  [data-tag-xl]:before {
    display: block;
    content: attr(data-tag-xl);
  }
}
